<appSettings>

  <add key="fromMailAccount" value="YourEmail" />
  <add key="mailPassword" value="YourEmailPassword" />
  <add key="toMailAccount" value="ReceiverEmail" />
  <add key="host" value="smtp.gmail.com" />
  <add key="port" value="587" />

    <add key="MailServer" value="dev-smtp.Haidar.com" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

</appSettings>
