<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-LibraryManagementSystem-20220703112248.mdf;Initial Catalog=aspnet-LibraryManagementSystem-20220703112248;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>