
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container manage">

    <h2 class="text-center">للأسف العنصر غير موجود</h2>
    <hr />

    @Html.ActionLink("انتقل للصفحة الرئيسية", "Index", "Home", null, new { @class = "form-control text-center" })
</div>

