
@{
    ViewBag.Title = "BrowsePdf";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>BrowsePdf</h2>

<div class="container">
    <div class="row">
        <div class="form-group-sm">
            <div class="col-md-12" style="padding-left: 0px;">
                <iframe style="width: 75%; height: 500px;" src="@ViewBag.ImageData"></iframe>
            </div>
        </div>
    </div>
</div> 