@model IEnumerable<LibraryManagementSystem.Models.BooksCategory>

@{
    ViewBag.Title = "التصنيفات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*This div for page-loading wating*@
<div class="loading" align="center">
    <img src="~/images/book-loading.gif" alt="Loading, Please Wait..." style="text-align: center" />
</div>


<div class="container manage">


    <div class="jumbotron row col-md-12 text-center">

        @if (!Model.Any())
        {
            <h3 class="text-center text-danger">لم تتم إضافة تصنيفات بعد</h3>
        }

        <h4 class="message-result">@ViewBag.Result</h4>

        <div class="col-md-12 manage-display">

            @foreach (var category in Model)
            {

                <div class="col-md-3 manage-dev">
                    <div>
                        <img src="~/images/@category.ImageName" />
                        <h4>@category.Name</h4>

                        <div class="manage-links text-center">

                            @Html.ActionLink("انتقل إلى الفئة", "DisplaySpecificBooksCategory", "Home", new { id = category.Id }, null)
                        </div>

                    </div>

                </div>
            }
        </div>



    </div>


</div>
